# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
wms/
venv/
.env

# VS Code
.vscode/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# SQLite (필요시 제외)
*.db

# Alembic (마이그레이션 설정 파일 무시)
alembic.ini
alembic

# MariaDB / MySQL data folder: DB 바이너리 파일 전부 무시
/data/
**/data/
*.ibd
*.ibtmp*
aria_log*
*.err
*.pid
tc.log
undo*
private_key.pem
public_key.pem